<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
	<display-name>GPWSv5.2</display-name>
	<servlet>
		<description>
		</description>
		<display-name>PrinterUserServlet</display-name>
		<servlet-name>PrinterUserServlet</servlet-name>
		<servlet-class>tools.print.PrinterUserServlet</servlet-class>
		<init-param>
			<description>
			</description>
			<param-name>DataSourceName</param-name>
			<param-value>java:comp/env/GPWS</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PrinterAdminServlet</display-name>
		<servlet-name>PrinterAdminServlet</servlet-name>
		<servlet-class>tools.print.PrinterAdminServlet</servlet-class>
		<init-param>
			<description>
			</description>
			<param-name>DataSourceName</param-name>
			<param-value>java:comp/env/GPWS</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PrtGatewayServlet</display-name>
		<servlet-name>PrtGatewayServlet</servlet-name>
		<servlet-class>tools.print.PrtGatewayServlet</servlet-class>
		<init-param>
			<description>
			</description>
			<param-name>DataSourceName</param-name>
			<param-value>java:comp/env/GPWS</param-value>
		</init-param>
		<load-on-startup>3</load-on-startup>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>KeyOpServlet</display-name>
		<servlet-name>KeyOpServlet</servlet-name>
		<servlet-class>tools.print.KeyOpServlet</servlet-class>
		<init-param>
			<description>
			</description>
			<param-name>DataSourceName</param-name>
			<param-value>java:comp/env/GPWS</param-value>
		</init-param>
		<load-on-startup>4</load-on-startup>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CommonProcessServlet</display-name>
		<servlet-name>CommonProcessServlet</servlet-name>
		<servlet-class>tools.print.CommonProcessServlet</servlet-class>
		<init-param>
			<description>
			</description>
			<param-name>DataSourceName</param-name>
			<param-value>java:comp/env/GPWS</param-value>
		</init-param>
		<load-on-startup>5</load-on-startup>
	</servlet>
	<servlet>
		<description>
			JAX-RS Tools Generated - Do not modify
		</description>
		<display-name>JAX-RS</display-name>
		<icon>
			<small-icon />
			<large-icon />
		</icon>
		<servlet-name>JAX-RS Servlet</servlet-name>
		<servlet-class>com.ibm.websphere.jaxrs.server.IBMRestServlet</servlet-class>
		
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>PrinterUserServlet</servlet-name>
		<url-pattern>/servlet/printeruser.wss</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PrinterAdminServlet</servlet-name>
		<url-pattern>/servlet/printeradmin.wss</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PrtGatewayServlet</servlet-name>
		<url-pattern>/servlet/prtgateway.wss</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CommonProcessServlet</servlet-name>
		<url-pattern>/servlet/commonprocess.wss</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KeyOpServlet</servlet-name>
		<url-pattern>/servlet/keyops.wss</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JAX-RS Servlet</servlet-name>
		<url-pattern>/servlet/api.wss/*/*</url-pattern>
	</servlet-mapping>
	<resource-ref>
		<description>
			DataSource connection to the GPWS Database
		</description>
		<res-ref-name>GPWS</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
</web-app>
